html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: #1b1b1b;
  color:white;
}

*, *::before, *::after {
  box-sizing: inherit;
}


/* 
Navagation section
*/


nav{
  display: flex;
  justify-content: space-between;
width:100%;
height:auto;
background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
border: 1px solid rgba(0, 0, 0, 0.2);
position: sticky;
top:0;
position: -webkit-sticky; /* Safari */
padding: 10px;

    @media (min-width: 600px){
        padding: 20px;
    }

}


ul {
  margin:0;
  padding:0;
  list-style-type:none;
  list-style: none;
  display: flex; 
  justify-content: flex-end;
  align-items: center;
}
ul li {
  text-align: center;
  margin-right: 20px;
}

.nav-links,
.logo{
  text-decoration:none;
  color:rgba(255,255,255,0.7);
}
.logo {
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  justify-self: start;
  align-items: center;
}

a {
  position: relative;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;            
  height: 3px;
  right: 0px;
  bottom: -3px;
  left: 0px;
  background-color: $linkPink;
}
.hero{
display: flex;
flex-direction: row;;
height: 300px;
background-color: aqua;

}
.left-col{
display: flex;
flex-direction: column;
background-color: black;
}